<div class="container d-flex justify-content-center align-items-center flex-column p-3 ">
    <h4 class="text-info">Register form</h4>
    <form>
        <div class="form-group p-3">
            <input class="form-control" type="text" placeholder="First name" aria-label="default input example" required>
    
        </div>
        <div class="form-group p-3">
            <input class="form-control" type="text" placeholder="Last name" aria-label="default input example " required>
    
        </div>
        <div class="form-group p-3">
            <input class="form-control" type="email" placeholder="Email" aria-label="default input example" required>
    
        </div>
        <div class="form-group p-3">
            <input class="form-control" type="password" placeholder="password" aria-label="default input example" required>
    
        </div>
    <button class="btn btn-success m-2">Register</button>    <button class="btn btn-danger">reset</button>
    </form>
    <p>   you alredy have an account <a [routerLink]="['../../auth/login']">sign in</a></p>

</div>
