<div class="container d-flex justify-content-center align-items-center flex-column p-3 ">
    <h4 class="text-info">Login form</h4>
    <form>
        <div class="form-group p-3">
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
    
        </div>
        <div class="form-group p-3">
            <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
    
        </div>
    <button class="btn btn-success m-2">sign in</button>    <button class="btn btn-danger">reset</button>


 
    </form>
    <p>   you don't have an account <a [routerLink]="['../../auth/signup']">sign up</a></p>
</div>
